/* purgecss start ignore */
.services_container {
  margin: 4rem;
}
.services {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 6rem;
  gap: 22px;
  flex-wrap: wrap;
}
.service:nth-child(1) {
  background: #7f56d9;
  color: #fff;
}
.service {
  display: flex;
  padding: 30px 40px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 22px;
  border-radius: 12px;
  background: #fff;
  color: #000000;
  border-radius: 12px;
  border: 1px solid rgba(216, 216, 216, 0.4);
  background: #fff;
  box-shadow: 0px 67.11438751220703px 109.06088256835938px 0px
    rgba(0, 0, 0, 0.05);
}
.service:nth-child(1) .heading {
  color: #fff;
}
.service:nth-child(1) .para {
  color: #fff;
}
.service:nth-child(1) .learn_more {
  color: #fff;
}
.row1 {
  display: flex;
  align-items: center;
  gap: 20px;
}
.heading {
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 36px */
  letter-spacing: 0.48px;
}
.para {
  color: #646464;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%; /* 28.8px */
  width: 300px;
}
.learn_more {
  color: #7f56d9;
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 25.2px */
  letter-spacing: 0.36px;
}

@media screen and (max-width: 768px) {
  .services_container {
    margin: 0;
  }
  .services {
    margin-top: 1rem;
  }
  .service {
    padding: 15px 20px;
    gap: 10px;
  }
  .para {
    width: 200px;
  }
}
/* purgecss end ignore */
